* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  scrollbar-color: var(--gray-400) var(--transparent);
  scrollbar-width: thin;

  & ::-webkit-scrollbar {
    background-color: var(--transparent);
    border-radius: 10px;
    width: 11px;
  }
  & ::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 0 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--gray-400);
    border-radius: 10px;
    border: 3px solid transparent;
  }
}

body {
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-weight: 600;
}

p,
label,
a {
  font-weight: 400;
  color: var(--gray-500);
}
span {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-font {
  font-family: var(--primary-font) !important;
}

h1,
.h1 {
  font-size: 30px;
  line-height: 34px;
  @include breakpoint(tablet) {
    font-size: 30px;
    line-height: 34px;
  }
  @include breakpoint(mobile) {
    font-size: 24px;
    line-height: 30px;
  }

  &__md {
    font-size: 45px;
    line-height: 50px;
    @include breakpoint(tablet) {
      font-size: 45px;
      line-height: 50px;
    }
    @include breakpoint(mobile) {
      font-size: 28px;
      line-height: 33px;
    }
  }

  &__lg {
    font-size: 52px;
    line-height: 58px;
    @include breakpoint(tablet) {
      font-size: 52px;
      line-height: 58px;
    }
    @include breakpoint(mobile) {
      font-size: 45px;
      line-height: 50px;
    }
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 32px;
  @include breakpoint(tablet) {
    font-size: 28px;
    line-height: 32px;
  }
  @include breakpoint(mobile) {
    font-size: 22px;
    line-height: 26px;
  }
}

h3,
.h3 {
  font-size: 25px;
  line-height: 30px;
  @include breakpoint(tablet) {
    font-size: 25px;
    line-height: 30px;
  }
  @include breakpoint(mobile) {
    font-size: 21px;
    line-height: 26px;
  }
}

h4,
.h4 {
  font-size: 23px;
  line-height: 27px;
  @include breakpoint(tablet) {
    font-size: 23px;
    line-height: 27px;
  }
  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 25px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 24px;
  @include breakpoint(tablet) {
    font-size: 20px;
    line-height: 24px;
  }
  @include breakpoint(mobile) {
    font-size: 19px;
    line-height: 24px;
  }
}

h6,
.h6 {
  font-size: 18px;
  line-height: 22px;
  @include breakpoint(tablet) {
    font-size: 18px;
    line-height: 22px;
  }
  @include breakpoint(mobile) {
    font-size: 18px;
    line-height: 22px;
  }
}

.subtitle1 {
  font-size: 16px;
  line-height: 20px;
  @include breakpoint(tablet) {
    font-size: 16px;
    line-height: 20px;
  }
  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 20px;
  }
}

.subtitle2 {
  font-size: 15px;
  line-height: 18px;
  @include breakpoint(tablet) {
    font-size: 15px;
    line-height: 18px;
  }
  @include breakpoint(mobile) {
    font-size: 15px;
    line-height: 18px;
  }
}

.body1 {
  font-size: 14px;
  line-height: 20px;
  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 20px;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

.body2 {
  font-size: 12px;
  line-height: 16px;
  @include breakpoint(tablet) {
    font-size: 12px;
    line-height: 16px;
  }
  @include breakpoint(mobile) {
    font-size: 12px;
    line-height: 16px;
  }
}

.microcopy {
  font-size: 9px;
  line-height: 12px;
  @include breakpoint(tablet) {
    font-size: 9px;
    line-height: 12px;
  }
  @include breakpoint(mobile) {
    font-size: 9px;
    line-height: 12px;
  }
}
