// React slick
.slick-track {
  padding-bottom: 10px !important;
}

.slick-dots {
  position: relative !important;
  top: -1rem !important;
  width: 100% !important;
  text-align: center !important;
}

.dots-size {
  li {
    width: fit-content !important;
    margin: 0 5px !important;
  }
}

//Progress bar
.react-sweet-progress-line-inner-status-active:before {
  animation: none !important;
}

.slider {
  display: flex;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow: auto;
}

.slider-item {
  flex: none;
}

@mixin no-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }
}
.no-scroll-bar {
  @include no-scroll-bar;
}

.no-mobile-scroll-bar {
  @include breakpoint(mobile) {
    @include no-scroll-bar;
  }
}

.total-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
